doctype html
html
	head
		title Chat app
		link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		.container
			h1 Plain chat
			.col-xs-12
				.login-form.col-xs-4.col-xs-offset-4
					.avatar-wrapper
						.drop-avatar(title="Drop image here!")
							img(src="/images/basic-avatar.png", width=64, height=64)
					input.form-control.input.username(type=text, placeholder="your name")
					.row
						.sex-buttons.button-group.col-xs-6
							button.btn.btn-default.btn-sm.male(type=button) male
							button.btn.btn-default.btn-sm.female(type=button) female
						.col-xs-6
							button.btn.btn-primary.start-chat(type=button) start chatting!
			.chat-wrapper.row
					.users-list.col-xs-4
						.user
							img(src="/images/basic-avatar.png", width=50, height=50)
							| user
					.chat-window.col-xs-8
						.chat.col-xs-12
							.message
								span.time [22/12/12 10:54] 
								span.user user 
								span.message Hello! this is my message
						.type-message-wrapper.col-xs-12
							.col-xs-10
								textarea.form-control.my-message(rows=3)
							.col-xs-2
								button.btn.btn-default.send(type=button) send
								button.btn.btn-danger.logout(type=button)
									span.glyphicon.glyphicon-off  
									
        script(src="/vendor/react/JSXTransformer.js", type="text/jsx")

		script(src="/vendor/requirejs/require.js", data-main="/main.js")
